<% if logged_in? %>
  <div class="recipe-box">
    <span class="index-image"><%= image_tag recipe.image.url(:thumb) %></span>
    <div class="index-title">
      <h2><%= link_to recipe.title, recipe_path(recipe) %></h2>
      <p class="cook-time">Cook time: <%= recipe.cook_time %></p>
    </div>
  </div>
<% else %>
  <div class="recipe-box">
    <span class="index-image"><%= image_tag recipe.image.url(:thumb) %></span>
    <div class="index-title">
      <h2><%= recipe.title %></h2>
      <p class="cook-time">Cook time: <%= recipe.cook_time %></p>
    </div>
  </div>
<% end %>
