<h1><%= @recipe.title %></h1>

<p>Cook time: <%= @recipe.cook_time %></p>
<h2>Ingredients:</h2>
  <ul>
    <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
    <li><%= recipe_ingredient.quantity %> <%= recipe_ingredient.measurement.measure %> <%= recipe_ingredient.ingredient.item %></li>
    <% end %>
  </ul>
<h2>Instructions:</h2>
<%= @recipe.instructions %>

<% if current_user.recipes.include? (@recipe) %>
  <%= button_to "Unpin", unpin_path(@recipe), method: :get  %>
<% else %>
  <%= button_to 'Save this Recipe', recipe_pinned_recipes_path(@recipe)  %>
<% end %>
