<h1><%= @recipe.title %></h1>
<p>Submitted by <%= @recipe.author.username %></p>
<p>Cook time: <%= @recipe.cook_time %></p>
<h2>Ingredients:</h2>
<div>
  <%= simple_format(@recipe.ingredients) %>
</div>
<h2>Instructions:</h2>
<div>
  <%= simple_format(@recipe.instructions) %>
</div>

<% if current_user.recipes.include? (@recipe) %>
  <%= button_to "Unpin", unpin_path(@recipe), method: :get  %>
<% else %>
  <%= button_to 'Save this Recipe', recipe_pinned_recipes_path(@recipe)  %>
<% end %>

<% if @recipe.author == current_user && @recipe.editable %>
 <%= button_to "Edit", edit_recipe_path(@recipe), method: :get %>
<% end %>
